.hero {
    position: relative;
}

.blurspot {
    position: absolute;
    width: 400px;
    height: 400px;
    top: -21.83px;
    right: 0;
    background-color: rgba(252, 22, 91, 1);
    filter: blur(3500px);
    rotate: 13.8deg;
}

.blurspot2 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 57.48px;
    left: 210.15px;
    background-color: rgba(22, 252, 210, 1);
    filter: blur(3500px);
    rotate: 13.8deg;
}

.blurspot3 {
    position: absolute;
    width: 400px;
    height: 400px;
    bottom: 0;
    left: 0;
    background-color: rgba(27, 119, 228, 1);
    filter: blur(3500px);
    rotate: 13.8deg;
}