.Articel {
    position: relative;
}

.blurspot {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 0;
    left: 160px;
    rotate: 13.83deg;
    background-color: rgba(252, 160, 22, 1);
    filter: blur(200px);
}

.articleContainer {
    padding: 90px 150px;
    /* padding: 90px 130px; */
    display: flex;
    align-items: center;
}

.articleInfoSection {
    /* max-width: 50%; */
}

.Articelimg {
    max-width: 60%;
    z-index: 10;
}

.articelImage {
    width: 560px;
    height: 380px;
}

.articleInfoSection>h5 {
    color: #16FCD2;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.1em;
}

.articleInfoSection>.title {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.06em;
    color: white;
}

.articleInfoSection>.info {
    margin-top: 30px;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    color: #FFFFFF99;
}

@media screen and (max-width:1024px) {
    .articleContainer {
        padding: 50px;
        flex-direction: column;
    }

    .Articelimg {
        max-width: 100%;
    }

    .articleInfoSection {
        max-width: 100%;
    }

    .articleInfoSection>.title {
        font-size: 24px;
    }

}

@media screen and (max-width: 480px) {
    .articleContainer {
        padding: 20px;
        flex-direction: column;
    }

    .Articelimg {
        max-width: 100%;
        width: 400px;
    }

    .articelImage {
        width: 350px;
        height: auto;
    }

    .articleInfoSection {
        max-width: 100%;
    }

    .articleInfoSection>.title {
        font-size: 24px;
    }

    .articleInfoSection>.info {
        font-size: 16px;
    }
}