@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.contactWrapper {
    display: flex;
    gap: 21px;
    /* padding: 50px 270px; */
    padding: 50px 150px;
}

.contactWrapperleft {
    width: 50%;
}

.contactWrapperleft>h5 {
    color: #16FCD2;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.1em;
}

.contactWrapperleft>.title {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.06em;
    color: white;
}

.contactTypeItems {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contactTypeItem {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cotactImage {
    padding: 20px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.05);

}

.contactTypeItemsinfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactTypeItemsinfo>h5 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.contactTypeItemsinfo>p {
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

.contactWrapperRight {
    width: 50%;
    margin: 0 50px;
}

.conatctForm {
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    padding: 40px;
}

.formarea {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.upperfield {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.inputfieldarea {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputfieldarea>label {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);

}

.inputfieldarea>input {
    font-family: Montserrat;
    width: 100%;
    background-color: transparent;
    height: 40px;
    border-radius: 3px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1)
}

.inputfieldarea>textarea {
    font-family: Montserrat;
    color: white;
    background-color: transparent;
    height: 120px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    resize: none;
}

.formarea>button {
    height: 52px;
    padding: 15px, 55px, 15px, 55px;
    border-radius: 3px;
    gap: 10px;
    background: rgba(96, 22, 252, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    outline: none;
    border: none;
}

@media screen and (max-width:890px) {
    .contactWrapper {
        padding: 50px 50px;
    }

    .contactWrapperleft {
        width: 100%;
    }

    .contactWrapperRight {
        width: 100%;
        margin: 50px 0 0 0;
    }

    .inputfieldarea {
        width: 100%;
    }

    .upperfield {
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width:480px) {
    .contactWrapper {
        padding: 50px 30px;
        flex-direction: column;
    }

    .contactWrapperleft {
        width: 100%;
    }

    .contactWrapperRight {
        width: 100%;
        margin: 50px 0 0 0;
    }

    .conatctForm {
        padding: 40px 20px;
    }
}