.footer {
    position: relative;
}

.footerContainer {
    padding: 40px 250px 40px;
}

.herobtn {
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.contactSection {
    border-top: 1px solid #FFFFFF1A;
    border-bottom: 1px solid #FFFFFF1A;
    padding: 30px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contactSection>.title {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.06em;
    color: white;
}

.contactSection>.info {
    margin-top: 30px;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    color: #FFFFFF99;
}


.herobtn>.button {
    width: 209px;
    padding: 15px 55px 15px 55px;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    outline: none;

}

.firstbtn {
    background: #6016FC;
    border: none;
}

.link {
    text-decoration: none;
    color: white;
}

.seconfbtn {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.07);

}

.mainFooter {
    justify-content: space-between;
    display: flex;

    margin-top: 50px;
}

.mainFooterlogo>p {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    color: #FFFFFF99;
}

.footerOptions>h5 {
    color: white;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;

}

.footerOptions>p {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    color: #FFFFFF99;

}

@media screen and (max-width:890px) {
    .footerContainer {
        padding: 50px;
    }

    .contactSection {
        padding: 50px;
    }


    .mainFooter {
        flex-wrap: wrap;
        gap: 10px;
    }

    .mainFooterlogo>p {
        padding: 0;
    }

}

@media screen and (max-width:480px) {
    .footerContainer {
        padding: 20px;
    }

    .contactSection {
        padding: 20px;
    }

    .herobtn {
        flex-direction: column;
        gap: 20px;
    }

    .mainFooter {
        flex-wrap: wrap;
        gap: 20px;
    }

    .mainFooterlogo>p {
        padding: 0;
    }

    .contactSection>.info {
        font-size: 16px;
    }

}