@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.firstContainer {
    padding: 50px 150px;
}

.firstContainer>h1 {
    /* background-image: linear-gradient(90deg, rgba(248, 212, 135, 0.8) -0.54%, rgba(153, 153, 153, 0.8) 99.46%);
    -webkit-background-clip: text;
    background-clip: text; */
    color: white;
    margin-bottom: 10px;
}

.firstContainer>p {
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: start;
    padding: 0;
    color: white;
}

.secondContainer {
    padding: 50px 150px;
    background: rgba(11, 11, 34, 1);
}

.secondContainer>h1 {
    background-image: linear-gradient(90deg, rgba(248, 212, 135, 0.8) -0.54%, rgba(153, 153, 153, 0.8) 99.46%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.1em;
}

.secondContainer>p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.06em;
    color: white;
}

.testimonialarea {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;

}

.testimonialCard {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 33%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);

}

.testimonialCard>p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0em;
    color: #FFFFFF99;
    text-align: center;
}

.testimage {
    width: auto;
    height: auto;
}

.articleInfoSection {
    padding: 50px 150px;
}

.articleInfoSection>h5 {
    background-image: linear-gradient(90deg, rgba(248, 212, 135, 0.8) -0.54%, rgba(153, 153, 153, 0.8) 99.46%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.1em;
}

.articleInfoSection>.title {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.06em;
    color: white;
}

.articleInfoSection>.info {
    margin-top: 30px;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    color: #FFFFFF99;
}

.articleInfoSection>.herobtn {
    margin-top: 30px;
}


.articleInfoSection>.herobtn>.button {
    width: 209px;
    padding: 15px 55px 15px 55px;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    outline: none;

}

.firstbtn {
    background: #6016FC;
    border: none;
}

.linkName {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1024px) {

    .firstContainer,
    .secondConatiner {
        padding: 50px;
    }

    .firstContainer>.info {
        padding: 0;
    }

    .firstContainer {
        padding: 50px;
    }

    .secondContainer {
        padding: 50px;
    }

    .articleInfoSection {
        padding: 50px;
    }

}

@media screen and (max-width: 480px) {
    .firstContainer {
        padding: 30px;
    }

    .firstContainer>.option {
        flex-direction: column;
        gap: 30px;
    }

    .secondContainer {
        padding: 30px;
    }


    .secondContainer>p {
        font-size: 16px;
        line-height: 28px;
        text-align: justify;
    }

    .testimonialarea {
        flex-direction: column;
    }

    .testimonialCard {
        width: 100%;
    }

    .herobtn {
        flex-direction: column;
        gap: 20px;
    }

    .articleInfoSection {
        padding: 30px;
    }

    .articleInfoSection>.title {
        font-size: 24px;
    }

    .articleInfoSection>.info {
        font-size: 16px;
        text-align: justify;
    }
}